*, 
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.div-google, .enlace{
    margin: 15px 0;
    padding: 14px 15px;
    color: #999;
    width: 100%;
    background: #CCE7D4;
}

::placeholder{
    color: rgb(202, 202, 202)
}

.enlace:hover{
    color:gray;
}

.enlace2{
    font-size: 1.1rem;
    color: rgb(126, 125, 125);
}
    .enlace2:hover{
        color:gray;
        text-decoration: none;
    }

.contendor-user{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: rgba(99, 194, 110, 0.1);
    padding: 40px 40px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}

.mov{
    background: #CCE7D4;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px 0;
}

.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #CCE7D4;
    text-align: center;
    line-height:500px;
}

.loader img{
    height: 3rem;
    vertical-align:middle;
}

.onBoard{
    display:scroll;
    /* position:fixed; */
    position: absolute;
    bottom:1.3rem;
    right:1.3rem;
    z-index: 800;
}
    .onBoard a{
        color: #517856;
    }
    .onBoard a:hover{
        color: #2f3f31;
    }

.select{
    content:"\025be";
    outline: none;
    font-size: 16px;
    color: #999;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    /* background: transparent; */
    border: 1px solid #e5e5e5;
    border-radius: .3em;
    
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}


/* Checkbox Personalizado */
.form-control{
    border: none;
}
    .custom-control-label:before{
        background-color:rgb(167, 169, 167);
    }
        .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
            background-color: #CCE7D4;
        }
            .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
                background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='green' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
            }
                .custom-control-input:active~.custom-control-label::before{
                    background-color:rgb(139, 140, 139);
                }

                    /** focus shadow pinkish **/
                    .custom-checkbox .custom-control-input:focus~.custom-control-label::before{
                        box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(15, 22, 14, 0.25); 
                    }

.capture{
    width: 100px;
}

.oculto{
    visibility: hidden;
    position:relative;
    width: -webkit-fill-available;
}

.error{
    color: tomato;
    margin-bottom: 20px;
}


.btn-modal{
    font-size: 15px;
    color: #999;
    width: 40%;
    background: #CCE7D4;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 25px;
    padding: 14px 15px;
    font-weight: 500;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    cursor:pointer;
}
    .btn-modal:hover{
        background: #869687;
        color: honeydew;
    }
